[Unit]
Description=3proxy daemon
After=network.target

[Service]
User=root
Group=root
Type=forking
WorkingDirectory={{ proxy_bin_path }}
ExecStart={{ proxy_bin_path }}/3proxy {{ proxy_conf_path }}

[Install]
WantedBy=multi-user.target
